@{
    ViewBag.Title = "GraduateCourseApplication";
    var id = ViewBag.id;
}

<h2>Graduate Course Applications<button class="btn btn-defaul" id="backToMenu" onclick="window.location.href = '/Admin?id=1'"> Back to Menu </button></h2>

<div id="divGraduateCourseApp">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Student Id</th>
                <th>Schedule Id</th>
                <th>Course Title</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: viewModel.graduateCourseAppList">
            <tr>
                <td data-bind="text: studentId, value: $data.studentId"></td>
                <td data-bind="text: scheduleId, value: $data.scheduleId"></td>
                <td data-bind="text: courseTitle, value: $data.courseTitle"></td>
                <td><button class="btn btn-default" onclick="">Approve</button></td>
                <td><button class="btn btn-default" onclick="">Decline</button></td>
            </tr>
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var graduateCourseAppViewModelObj = new GraduateCourseAppViewModel();
        graduateCourseAppViewModelObj.Initialize();
    });
</script>


