@{
    ViewBag.Title = "EnrollCourse";
    var id = ViewBag.id;
}

<h2>Enroll Course <button class="btn btn-defaul" id="backToMenu" onclick="window.location.href = '/Student?id=A000001'"> Back to Menu </button></h2>

<h3>All Course</h3>

<div id="divCourseSchedule">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Student Id</th>
                <th>Schedule Id</th>
                <th>Course Id</th>
                <th>Year</th>
                <th>Quarter</th>
                <th>Session</th>
                <th>Course Id</th>
                <th>Course Title</th>
                <th>Course Description</th>
            </tr>
        </thead>

        <tbody data-bind="foreach: viewModel.courseScheduleList">
            <tr>
                <td data-bind="text: studentId, value:$data.studentId"></td>
                <td data-bind="text: scheduleId, value: $data.scheduleId"></td>
                <td data-bind="text: courseId, value: $data.courseId"></td>
                <td data-bind="text: year, value: $data.year"></td>
                <td data-bind="text: quarter, value: $data.quarter"></td>
                <td data-bind="text: session, value: $data.session"></td>
                <td data-bind="text: courseTitle, value: $data.courseTitle"></td>
                <td data-bind="text: courseDescription, value: $data.courseDescription"></td>
                <td><button class="btn btn-default" data-bind="click: $parent.viewModel.enrollSchedule">Enroll Course</button></td>
            </tr>
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var courseScheduleViewModelObj = new CourseScheduleViewModel();
        courseScheduleViewModelObj.Initialize("@id");
    });
</script>
