@{
    ViewBag.Title = "GraduateCourseApplication";
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/bootstrap")

<h2>Graduate Course Applications <button class="btn btn-defaul" id="backToMenu" onclick="window.location.href = '/Instructor?id=1'"> Back to Menu </button></h2>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Student Id</th>
                <th>Schedule Id</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>A000001</td>
                <td>111</td>
                <td><button class="btn btn-default" onclick="">Approve</button></td>
                <td><button class="btn btn-default" onclick="">Decline</button></td>
            </tr>
            <tr>
                <td>A000002</td>
                <td>100</td>
                <td><button class="btn btn-default" onclick="">Approve</button></td>
                <td><button class="btn btn-default" onclick="">Decline</button></td>
            </tr>
            <tr>
                <td>A000111</td>
                <td>100</td>
                <td><button class="btn btn-default" onclick="">Approve</button></td>
                <td><button class="btn btn-default" onclick="">Decline</button></td>
            </tr>
            <tr>
                <td>A000101</td>
                <td>50</td>
                <td><button class="btn btn-default" onclick="">Approve</button></td>
                <td><button class="btn btn-default" onclick="">Decline</button></td>
            </tr>
            <tr>
                <td>A000001</td>
                <td>111</td>
                <td><button class="btn btn-default" onclick="">Approve</button></td>
                <td><button class="btn btn-default" onclick="">Decline</button></td>
            </tr>
        </tbody>
    </table>
</div>

